<div class="container" data-controller="infos animation content-loader" >

<div>
  <div data-action="load@window->animation#growing"></div>
</div>

  <div class="suggestion">
    <h4 class="d-flex justify-content-center">Suggestion for the next month:</h4>
    <div class="d-flex justify-content-center">
      <div class="divbutton">
        <div class="image" data-action="click->animation#display"  data-animation-target="platform">
          <%= image_tag("#{@platform_for_logo}.png", width:180, crop: :fill)%>
        </div>
        <button class="button" data-action="click->infos#display">i</button>
      </div>
      <div class = "informations d-none" data-infos-target= "info">
        <%= render "platforms", platform: @final_answer %>
      </div>
    </div>
  </div>


</div>
